.wrapper {
	position: relative;
	overflow: hidden;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 1169px;
		height: 1274px;
		border-radius: 1274px;
		opacity: 0.9;
		background: radial-gradient(
			50% 50% at 50% 50%,
			#070a56 0%,
			rgba(46, 49, 143, 0) 100%
		);
		filter: blur(10px);
	}
}
